/bin/
/data/
/dataSerialization/
/Class Diagrams/
/AgentMixer.ucls
/Agents.ucls
/DepositMechanism.java
/JmabDelligattiClassDiagram.ucls
/JmabDelligattiClassDiagramShort.ucls
/lib.zip
/Population.ucls
/Simulation.ucls
/Strategies.ucls
/.DS_Store
